---

registry: registry.nordix.org
organization: cloud-native/meridio
tag: latest
pullPolicy: IfNotPresent

trench:
  name: trench-a

configuration:
  configmap: meridio-configuration

loadBalancer:
  image: load-balancer
  version: latest
  networkServiceName: load-balancer

frontEnd:
  image: frontend
  version: latest

proxy:
  image: proxy
  version: latest
  networkServiceName: proxy.load-balancer

ctraffic:
  image: ctraffic
  version: latest

ipam:
  image: ipam
  version: latest
  port: 7777
  targetPort: 7777
  serviceName: ipam-service

nsp:
  image: nsp
  version: latest
  port: 7778
  targetPort: 7778
  serviceName: nsp-service

ipFamily: ipv4 # ipv4 / ipv6 / dualstack

vips:
  - name: vip1
    address: 20.0.0.1/32
  - name: vip2
    address: 2000::1/128
  - name: vip3
    address: 40.0.0.0/24

subnetPool:
  ipv4: 172.16.0.0/16
  ipv6: fd00::/48
  prefixLength:
    ipv4: 24
    ipv6: 64

vlanNSE:
  image: cmd-nse-icmp-responder
  version: latest

vlan:
  networkServiceName: external-vlan
  id: 100
  interface: eth0
  ipv4Prefix: 169.254.100.0/24
  ipv6Prefix: 100:100::/64
  fe:
    gateways:
      - name: gateway1
        address: 169.254.100.150
        ipFamily: ipv4
        bfd: false
        protocol: bgp
      - name: gateway2
        address: 100:100::150
        ipFamily: ipv6
        bfd: false
        protocol: bgp
    vrrp:
#        - 169.254.100.252/24
#        - fe80::beed/64

readinessProbe:
  exec:
    command: ["/bin/grpc_health_probe", "-addr=:8000", "-connect-timeout=100ms", "-rpc-timeout=150ms"]
  initialDelaySeconds: 0
  periodSeconds: 10
  timeoutSeconds: 3
  failureThreshold: 5

livenessProbe:
  exec:
    command: ["/bin/grpc_health_probe", "-addr=:8000", "-connect-timeout=100ms", "-rpc-timeout=150ms"]
  initialDelaySeconds: 0
  periodSeconds: 10
  timeoutSeconds: 3
  failureThreshold: 5