#! /bin/sh
# Setup /etc/hosts

# __nvm, __nrouters, __ntesters and PREFIX in this file;
. /etc/profile
test -n "$PREFIX" || PREFIX=1000::1
test -n "$__nvm" || __nvm=4
test -n "$__nrouters" || __nrouters=2

die() {
	echo "$@"
	exit 1
}

hostname | grep -Eq 'vm-[0-9]+$' || die "Invalid hostname [$(hostname)]"
i=$(hostname | cut -d- -f2 | sed -re 's,^0+,,')

cat > /etc/hosts <<EOF
127.0.0.1       localhost

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

192.168.0.250 host
$PREFIX:192.168.0.250 ip6-host

EOF

for n in $(seq 1 $__nvm); do
	printf '192.168.1.%d vm-%03d\n' $n $n >> /etc/hosts
	printf "$PREFIX:192.168.1.%d vm-%03d\n" $n $n >> /etc/hosts
done

last=$((200 + __nrouters))
for n in $(seq 201 $last); do
        printf '192.168.1.%d vm-%03d\n' $n $n >> /etc/hosts
        printf "$PREFIX:192.168.1.%d vm-%03d\n" $n $n >> /etc/hosts
done

if test -n "$__ntesters"; then
	last=$((220 + __ntesters))
	for n in $(seq 221 $last); do
		printf '192.168.2.%d vm-%03d\n' $n $n >> /etc/hosts
		printf "$PREFIX:192.168.2.%d vm-%03d\n" $n $n >> /etc/hosts
	done
fi

