---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: load-balancer-{{ .Values.trench.name }}
  labels:
    app: load-balancer-{{ .Values.trench.name }}
spec:
  selector:
    matchLabels:
      app: load-balancer-{{ .Values.trench.name }}
  replicas: 2
  template:
    metadata:
      labels:
        app: load-balancer-{{ .Values.trench.name }}
    spec:
      serviceAccountName: {{ template "meridio.serviceAccount" . }}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - "load-balancer-{{ .Values.trench.name }}"
            topologyKey: kubernetes.io/hostname
      initContainers:
        - name: sysctl-init
          image: {{ .Values.registry }}/{{ .Values.organization }}/busybox:1.29
          securityContext:
            privileged: true
          volumeMounts:
            - name: nsm-socket
              mountPath: /var/lib/networkservicemesh
              readOnly: false
          command: ["/bin/sh"]
          args:
            - -c
            - {{ template "meridio.loadBalancer.sysctls" . }}
      containers:
        - name: load-balancer
          image: {{ .Values.registry }}/{{ .Values.organization }}/{{ .Values.loadBalancer.image }}:{{ .Values.loadBalancer.version }}
          imagePullPolicy: {{ .Values.pullPolicy }}
          readinessProbe:
{{ toYaml .Values.readinessProbe | indent 12 }}
          livenessProbe:
{{ toYaml .Values.livenessProbe | indent 12 }}
          env:
            - name: SPIFFE_ENDPOINT_SOCKET
              value: unix:///run/spire/sockets/agent.sock
            - name: NSM_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NSM_SERVICE_NAME
              value: {{ template "meridio.loadBalancer.networkServiceName" . }}
            - name: NSM_CONDUIT_NAME
              value: {{ .Values.loadBalancer.networkServiceName }}
            - name: NSM_TRENCH_NAME
              value: {{ .Values.trench.name }}
            - name: NSM_NSP_SERVICE
              value: {{ template "meridio.nsp.serviceName" . }}:{{ .Values.nsp.targetPort }}
          volumeMounts:
            - name: spire-agent-socket
              mountPath: /run/spire/sockets
              readOnly: true
            - name: nsm-socket
              mountPath: /var/lib/networkservicemesh
              readOnly: false
          securityContext:
            privileged: true
        - name: nsc
          image: registry.nordix.org/cloud-native/nsm/cmd-nsc:latest-dns-fix
          imagePullPolicy: {{ .Values.pullPolicy }}
          env:
            - name: SPIFFE_ENDPOINT_SOCKET
              value: unix:///run/spire/sockets/agent.sock
            - name: NSM_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NSM_NETWORK_SERVICES
              value: vlan://{{ template "meridio.vlan.networkServiceName" . }}/ext-vlan?forwarder=forwarder-vlan
            - name: NSM_DIAL_TIMEOUT
              value: "30s"
            - name: NSM_REQUEST_TIMEOUT
              value: "300s"
          volumeMounts:
            - name: spire-agent-socket
              mountPath: /run/spire/sockets
              readOnly: true
            - name: nsm-socket
              mountPath: /var/lib/networkservicemesh
              readOnly: true
        - name: fe
          image: {{ .Values.registry }}/{{ .Values.organization }}/{{ .Values.frontEnd.image }}:{{ .Values.frontEnd.version }}
          imagePullPolicy: IfNotPresent
          env:
            - name: NFE_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NFE_LOG_BIRD
              value: "true"
            - name: NFE_ECMP
              value: "true"
            - name: NFE_NSP_SERVICE
              value: {{ template "meridio.nsp.serviceName" . }}:{{ .Values.nsp.targetPort }}
            - name: NFE_CONFIG_MAP_NAME
              value: {{ template "meridio.configuration" . }}
          securityContext:
            privileged: true
      volumes:
        - name: spire-agent-socket
          hostPath:
            path: /run/spire/sockets
            type: Directory
        - name: nsm-socket
          hostPath:
            path: /var/lib/networkservicemesh
            type: DirectoryOrCreate
