---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nse-vlan-{{ .Values.trench.name }}
  labels:
    app: nse-vlan-{{ .Values.trench.name }}
spec:
  selector:
    matchLabels:
      app: nse-vlan-{{ .Values.trench.name }}
  template:
    metadata:
      labels:
        app: nse-vlan-{{ .Values.trench.name }}
        "spiffe.io/spiffe-id": "true"
    spec:
      containers:
        - name: nse
          image: {{ .Values.registry }}/cloud-native/nsm/{{ .Values.vlanNSE.image }}:{{ .Values.vlanNSE.version }}
          imagePullPolicy: {{ .Values.pullPolicy }}
          startupProbe:
{{include "meridio.startupProbe" (dict "component" .Values.vlanNSE "root" $) | indent 12 }}
          readinessProbe:
{{include "meridio.readinessProbe" (dict "component" .Values.vlanNSE "root" $) | indent 12 }}
          livenessProbe:
{{include "meridio.livenessProbe" (dict "component" .Values.vlanNSE "root" $) | indent 12 }}
          ports:
            - containerPort: 5003
              hostPort: 5003
          securityContext:
            readOnlyRootFilesystem: true
          env:
            - name: SPIFFE_ENDPOINT_SOCKET
              value: unix:///run/spire/sockets/agent.sock
            - name: NSM_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NSM_CONNECT_TO
              value: "{{ .Values.nsm.registryService }}.{{ .Values.nsm.namespace }}:{{ .Values.nsm.registryPort }}"
            - name: NSM_SERVICES
              value: "{{ template "meridio.vlan.networkServiceName" . }} { vlan: {{ .Values.vlan.id }}; via: {{ .Values.vlan.interface }} }"
            - name: NSM_CIDR_PREFIX
              value: "{{ .Values.vlan.ipv4Prefix }},{{ .Values.vlan.ipv6Prefix }}"
            - name: NSM_POINT2POINT
              value: "False"
            - name: NSM_REGISTER_SERVICE
              value: "True"
            - name: NSM_LISTEN_ON
              value: "tcp://:5003"
            - name: NSM_MAX_TOKEN_LIFETIME
              value: {{ .Values.maxTokenLifetime }}
            - name: NSM_LOG_LEVEL
              value: "TRACE"
          volumeMounts:
            - name: spire-agent-socket
              mountPath: /run/spire/sockets
              readOnly: true
            - name: nsm-socket
              mountPath: /var/lib/networkservicemesh
              readOnly: false
          resources:
            requests:
              cpu: 200m
            limits:
              memory: 100Mi
              cpu: 400m
      volumes:
        - name: spire-agent-socket
          hostPath:
            path: /run/spire/sockets
            type: Directory
        - name: nsm-socket
          hostPath:
            path: /var/lib/networkservicemesh
            type: DirectoryOrCreate
