---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nse-vlan-{{ .Values.trench.name }}
  labels:
    app: nse-vlan-{{ .Values.trench.name }}
spec:
  selector:
    matchLabels:
      app: nse-vlan-{{ .Values.trench.name }}
  template:
    metadata:
      labels:
        spiffe.io/spiffe-id: "true"
        app: nse-vlan-{{ .Values.trench.name }}
    spec:
      containers:
        - name: nse
          image: {{ .Values.registry }}/cloud-native/nsm/{{ .Values.vlanNSE.image }}:{{ .Values.vlanNSE.version }}
          imagePullPolicy: {{ .Values.pullPolicy }}
          startupProbe:
{{include "meridio.startupProbe" (dict "component" .Values.vlanNSE "root" $) | indent 12 }}
          readinessProbe:
{{include "meridio.readinessProbe" (dict "component" .Values.vlanNSE "root" $) | indent 12 }}
          livenessProbe:
{{include "meridio.livenessProbe" (dict "component" .Values.vlanNSE "root" $) | indent 12 }}
          env:
            - name: SPIFFE_ENDPOINT_SOCKET
              value: unix:///run/spire/sockets/agent.sock
            - name: NSE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NSE_CONNECT_TO
              value: unix:///var/lib/networkservicemesh/nsm.io.sock
            - name: NSE_VLAN_BASE_IFNAME
              value: {{ .Values.vlan.interface }}
            - name: NSE_VLAN_ID
              value: "{{ .Values.vlan.id }}"
            - name: NSE_SERVICE_NAME
              value: {{ template "meridio.vlan.networkServiceName" . }}
            - name: NSE_CIDR_PREFIX
              value: "{{ .Values.vlan.ipv4Prefix }}"
            - name: NSE_IPV6_PREFIX
              value: "{{ .Values.vlan.ipv6Prefix }}"
          volumeMounts:
            - name: spire-agent-socket
              mountPath: /run/spire/sockets
              readOnly: true
            - name: nsm-socket
              mountPath: /var/lib/networkservicemesh
              readOnly: false
      volumes:
        - name: spire-agent-socket
          hostPath:
            path: /run/spire/sockets
            type: Directory
        - name: nsm-socket
          hostPath:
            path: /var/lib/networkservicemesh
            type: DirectoryOrCreate
