
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: flows.meridio.nordix.org
spec:
  group: meridio.nordix.org
  names:
    kind: Flow
    listKind: FlowList
    plural: flows
    singular: flow
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.vips
      name: vips
      type: string
    - jsonPath: .spec.destination-ports
      name: dst-ports
      type: string
    - jsonPath: .spec.source-subnets
      name: src-subnets
      type: string
    - jsonPath: .spec.source-ports
      name: src-ports
      type: string
    - jsonPath: .spec.protocols
      name: protocols
      type: string
    - jsonPath: .spec.byte-matches
      name: byte-matches
      type: string
    - jsonPath: .spec.stream
      name: stream
      type: string
    - jsonPath: .metadata.labels.trench
      name: Trench
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Flow is the Schema for the flows API. It defines how ingress
          traffic flows are classified and collected into streams
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: FlowSpec defines the desired state of Flow
            properties:
              byte-matches:
                description: ByteMatches matches bytes in the L4 header in the flow.
                items:
                  type: string
                type: array
              destination-ports:
                description: 'Destination port ranges allowed in the flow. The ports
                  should not have overlaps. Ports can be defined by: - a single port,
                  such as 3000; - a port range, such as 3000-4000; - "any", which
                  is equivalent to port range 0-65535.'
                items:
                  type: string
                type: array
              priority:
                description: Priority of the flow
                format: int32
                type: integer
              protocols:
                description: Protocols allowed in this flow. The protocols should
                  not have overlaps.
                items:
                  enum:
                  - tcp
                  - udp
                  - sctp
                  type: string
                type: array
              source-ports:
                description: 'Source port ranges allowed in the flow. The ports should
                  not have overlaps. Ports can be defined by: - a single port, such
                  as 3000; - a port range, such as 3000-4000; - "any", which is equivalent
                  to port range 0-65535.'
                items:
                  type: string
                type: array
              source-subnets:
                description: Source subnets allowed in the flow. The subnets should
                  not have overlaps.
                items:
                  type: string
                type: array
              stream:
                description: Stream that is to include traffic classified by this
                  flow
                type: string
              vips:
                description: Vips that this flow will send traffic to. The vips should
                  not have overlaps.
                items:
                  type: string
                type: array
            required:
            - priority
            - protocols
            - vips
            type: object
          status:
            description: FlowStatus defines the observed state of Flow
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
