
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: streams.meridio.nordix.org
spec:
  group: meridio.nordix.org
  names:
    kind: Stream
    listKind: StreamList
    plural: streams
    singular: stream
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.conduit
      name: conduit
      type: string
    - jsonPath: .metadata.labels.trench
      name: Trench
      type: string
    - jsonPath: .spec.max-targets
      name: max-targets
      type: integer
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Stream is the Schema for the streams API. It refers a group of
          Flows processed through the same Conduit before consumed by the user application.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: StreamSpec defines the desired state of Stream
            properties:
              conduit:
                description: The conduit that is to convey traffic included in this
                  Stream
                type: string
              max-targets:
                default: 100
                description: Max number of targets the stream supports
                format: int32
                maximum: 10000
                minimum: 1
                type: integer
            type: object
          status:
            description: StreamStatus defines the observed state of Stream
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
